* {
	margin: 0;
}

body {
	height: 100%;
	width: 100%;

	position: relative;
	background-color: #1A232C;
	overflow: hidden;
	background-image: url('../images/bg.png');

	background-attachment: fixed;
	background-size: cover;

	overflow: hidden;
}

table {
	margin-top: 10%;
	width: 500px;
}

.circle {
	border-radius: 50%
}

#bubble {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 50%;
	background-color: #64B5F6;
}

#secondarybubble {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 50%;
	background-color: #42A5F5;
}