* {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #ffffff;
	font-weight: 300;
}

body {
	height: 100%;
	width: 100%;

	background-color: #1A232C;
	overflow: hidden;
	/*background-image: url('../images/bg.png');*/

	background-attachment: fixed;
	background-size: cover;

}

#spacejam {
	position: absolute;
	top: 750px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainplanetcontainer {
	position: relative;

	width: 272px;
	height: 163px;
	
	top: 50%;
	left: 50%;
}

#mainplanet {
	position: relative;
	width: 0%;
	height: 0%;
}

#p1container {
	position: relative;

	top: -250px;
	left: -50px;

	width: 75px;
	height: 75px;
}

#p2container {
	position: relative;
	top: -400px;
	left: 300px;

	width: 150px;
	height: 150px;
}

#p3container {
	position: relative;
	top: -450px;
	left: 350px;

	width: 95px;
	height: 95px;
}

#p4container {
	position: relative;
	top: -350px;
	left: 250px;

	width: 75px;
	height: 75px;
}

#p5container {
	position: relative;
	top: -375px;
	left: 100px;

	width: 75px;
	height: 75px;
}

#p6container {
	position: relative;
	top: -525px;
	left: -50px;

	width: 75px;
	height: 75px;
}

#p1, #p2, #p3, #p4, #p5, #p6 {
	position: absolute;
	width: 0%;
	height: 0%;
}

.circle {
	border-radius: 50%
}

#bubble {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	z-index: 1000;

	border-radius: 50%;
	background-color: #64B5F6;
}

#secondarybubble {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 50%;
	background-color: #42A5F5;
}

#pagecontainer {
	/*padding: 2.5em 2.5em 0em 2.5em;*/
	z-index: -999;
	background-color: #000;
	opacity: 0;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	border-radius: 3px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.page {
	padding: 5em 5em 0 5em;
	overflow: hidden;
}

#page1, #page2, #page3, #page4, #page5, #page6 {
	opacity: 0;
}

#backhomebutton {
	cursor: pointer;
	z-index: 1000;
}

h1 {
	font-size: 2em;
	letter-spacing: 0.22em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	letter-spacing: 0.15em;
	margin 0 auto;
	text-transform: uppercase;
}

h3 {
	font-size: 1em;
	letter-spacing: 0.15em;
	margin 0 auto;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.authorpage {
	text-align: center
}

.authorimage {
	width: 184px;
	height: 184px;
	border-radius: 50%;
	margin-bottom: 3em;
}

.authorinfo {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.fa {
	font-size: 2em
}

.socialmedia a {
	padding: 0.25em 0.25em;
	margin: 0 0.3em;
	position: relative;
	bottom:0;
	
	-webkit-transition: .1s linear;
	-moz-transition: .1s linear;
	-o-transition: .1s linear;
	transition: 0.1s linear;
}

/*.socialmedia a:hover {
	bottom: 0.25em;
	padding-bottom: 0.5em;
}*/